
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Burasi title</title>
</head>
<body>
    <div>
        Burasi Layout Sayfasi
    </div>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
