
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>Mvc Kamp Tablo Ornegi</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>CategoryName</th>
        <th>CategoryDescription</th>
        <th>CategoryStatus</th>
        <th>Guncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Teknoloji</td>
        <td>Aciklama Yapildi</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Bilgisayar</td>
        <td>Aciklama Yapildi</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Felsefe</td>
        <td>Aciklama Yapildi</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Psikoloji</td>
        <td>Aciklama Yapildi</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
</table>
<button class="btn btn-primary">Yeni Category</button>
<button class="btn btn-success">Guncelle</button>
<button class="btn btn-danger">Liste</button>
